.top-row[b-tvvzib0a0t] {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Small shadow */

}

.current-information[b-tvvzib0a0t] {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-box[b-tvvzib0a0t] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    width: 100%;
    margin: 30px 0 100px 0;
    text-align: center;
}

.middle-box h2[b-tvvzib0a0t] {
    margin: 0;
    padding: 20px;
    color: #fff; /* Text color */
    font-size: 1.5rem; /* Font size */
    font-weight: bold;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Same gradient as top-row */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Small shadow */
    width: 30%;
    border-radius: 10px; /* Rounded corners */
}

.date-label[b-tvvzib0a0t] {
    color: #333; /* Text color */
    font-size: 1.2rem; /* Font size */
    font-weight: bold;
    margin: 20px;
}


.walk-through-container[b-tvvzib0a0t]{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.add-button[b-tvvzib0a0t] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff7e5f; /* Button color */
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Button shadow */
    z-index: 1000; /* Ensure it's above other elements */
}

.add-button:hover[b-tvvzib0a0t] {
    background-color: #ff6e4f; /* Button color on hover */
}
