@inherits LayoutComponentBase
@using Newtonsoft.Json.Linq
@using Calendar.Services
@inject DataService Ds
@inject HttpClient Http

<PageTitle>Calendar</PageTitle>

<div class="page">
    @if (Ds.Ip == null || Ds.Location == null)
    {
    }
    else
    {
        @Body
    }

</div>

@code {
    const string IpEndpoint = "http://localhost:5144/api/IpProvider/my_ip";
    const string CurrentLocationBaseEndpoint = "http://localhost:5144/api/Location/my_location?ip=";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var response = await Http.GetAsync(IpEndpoint);
        var jsonString = await response.Content.ReadAsStringAsync();
        var jsonObject = JObject.Parse(jsonString);
        var ip = jsonObject["ip"].ToString();
        Ds.Ip = ip;

        //Ds.Ip = "192.168.32.1";

        if (Ds.Ip != null)
        {
            var locationResponse = await Http.GetAsync(CurrentLocationBaseEndpoint + Ds.Ip);
            var locationJsonString = await locationResponse.Content.ReadAsStringAsync();
            var locationJsonObject = JObject.Parse(locationJsonString);
            var location = locationJsonObject["city"].ToString();
            Ds.Location = location;

            //Ds.Location = "Warsaw";
        }
    }
}