@using Calendar.Layout.DaysOfTheWeek.Column.Separator
@using Calendar.Layout.DaysOfTheWeek.Column
<div class="columns">
    <Separator/>
    <Column DayOfTheWeek="Monday"/>
    <Separator/>
    <Column DayOfTheWeek="Tuesday"/>
    <Separator/>
    <Column DayOfTheWeek="Wednesday"/>
    <Separator/>
    <Column DayOfTheWeek="Thursday"/>
    <Separator/>
    <Column DayOfTheWeek="Friday"/>
    <Separator/>
    <Column DayOfTheWeek="Saturday"/>
    <Separator/>
    <Column DayOfTheWeek="Sunday"/>
    <Separator/>
</div>
@code {

}