.weather-container[b-inbbrnyxnh] {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 0;
    padding: 0 20px 20px 0;
    margin: 0;
}

#bolded[b-inbbrnyxnh] {
    font-weight: bold;
    font-size: 1.5rem;
}