/* /Layout/CurrentLocation/CurrentLocation.razor.rz.scp.css */
.current-location[b-kunisnr2au]{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 0;
    padding: 40px 0 0 20px ;
    margin: 0;
}

#bolded[b-kunisnr2au] {
    font-weight: bold;
}
/* /Layout/CurrentWeather/CurrentWeather.razor.rz.scp.css */
.weather-container[b-inbbrnyxnh] {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: 0;
    padding: 0 20px 20px 0;
    margin: 0;
}

#bolded[b-inbbrnyxnh] {
    font-weight: bold;
    font-size: 1.5rem;
}
/* /Layout/DaysOfTheWeek/Column/Column.razor.rz.scp.css */
.column-container[b-gy5dmhum5q] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.event[b-gy5dmhum5q] {
    background-color: #d9b14b;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
    cursor: pointer; /* Add cursor pointer for indicating clickable */
}

.event h5[b-gy5dmhum5q] {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.event p[b-gy5dmhum5q] {
    margin: 0;
}

/* Modal styles */
.modal[b-gy5dmhum5q] {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content[b-gy5dmhum5q] {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

textarea[b-gy5dmhum5q] {
    width: 100%;
    height: 100px;
    resize: none;
}

/* Close button style */
.close[b-gy5dmhum5q] {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover[b-gy5dmhum5q],
.close:focus[b-gy5dmhum5q] {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* /Layout/DaysOfTheWeek/Column/Separator/Separator.razor.rz.scp.css */
.separator-container[b-fxzkbcpi5t] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.separator[b-fxzkbcpi5t] {
    border: 1px solid lightgray; /* Changed border color to light gray */
    margin: 10px 0;
    width: 3px; /* Adjusted width to create a vertical line */
    background-color: lightgray; /* Changed background color to match border */
}
/* /Layout/DaysOfTheWeek/DaysOfTheWeek.razor.rz.scp.css */
.columns[b-zvknfkvqkl]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
/* /Layout/LoadingSpinner.razor.rz.scp.css */
.spinner[b-g59lhv1qkf] {
    border: 8px solid rgba(0, 0, 255, 0.1); /* Blue color */
    border-left-color: #007bff; /* Blue color */
    border-radius: 50%;
    width: 50px; /* Default width */
    height: 50px; /* Default height */
    animation: spin-b-g59lhv1qkf 1s linear infinite;
}

.spinner-h1[b-g59lhv1qkf] {
    width: 50px;
    height: 50px;
}

.spinner-h2[b-g59lhv1qkf] {
    width: 40px;
    height: 40px;
}

.spinner-h3[b-g59lhv1qkf] {
    width: 30px;
    height: 30px;
}

.spinner-h4[b-g59lhv1qkf] {
    width: 20px;
    height: 20px;
}

.spinner-h5[b-g59lhv1qkf] {
    width: 15px;
    height: 15px;
}

.spinner-h6[b-g59lhv1qkf] {
    width: 10px;
    height: 10px;
}

@keyframes spin-b-g59lhv1qkf {
    to {
        transform: rotate(360deg);
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-6yv3u6apbw]
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* /Pages/Events.razor.rz.scp.css */
.top-row[b-tvvzib0a0t] {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Small shadow */

}

.current-information[b-tvvzib0a0t] {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-box[b-tvvzib0a0t] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    width: 100%;
    margin: 30px 0 100px 0;
    text-align: center;
}

.middle-box h2[b-tvvzib0a0t] {
    margin: 0;
    padding: 20px;
    color: #fff; /* Text color */
    font-size: 1.5rem; /* Font size */
    font-weight: bold;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Same gradient as top-row */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Small shadow */
    width: 30%;
    border-radius: 10px; /* Rounded corners */
}

.date-label[b-tvvzib0a0t] {
    color: #333; /* Text color */
    font-size: 1.2rem; /* Font size */
    font-weight: bold;
    margin: 20px;
}


.walk-through-container[b-tvvzib0a0t]{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.add-button[b-tvvzib0a0t] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff7e5f; /* Button color */
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Button shadow */
    z-index: 1000; /* Ensure it's above other elements */
}

.add-button:hover[b-tvvzib0a0t] {
    background-color: #ff6e4f; /* Button color on hover */
}
