.spinner[b-g59lhv1qkf] {
    border: 8px solid rgba(0, 0, 255, 0.1); /* Blue color */
    border-left-color: #007bff; /* Blue color */
    border-radius: 50%;
    width: 50px; /* Default width */
    height: 50px; /* Default height */
    animation: spin-b-g59lhv1qkf 1s linear infinite;
}

.spinner-h1[b-g59lhv1qkf] {
    width: 50px;
    height: 50px;
}

.spinner-h2[b-g59lhv1qkf] {
    width: 40px;
    height: 40px;
}

.spinner-h3[b-g59lhv1qkf] {
    width: 30px;
    height: 30px;
}

.spinner-h4[b-g59lhv1qkf] {
    width: 20px;
    height: 20px;
}

.spinner-h5[b-g59lhv1qkf] {
    width: 15px;
    height: 15px;
}

.spinner-h6[b-g59lhv1qkf] {
    width: 10px;
    height: 10px;
}

@keyframes spin-b-g59lhv1qkf {
    to {
        transform: rotate(360deg);
    }
}
